#datas 압축파일을 받아서  '경기도인구데이터'.csv파일을 이용하여 
다음 내용을 파이썬  numpy라이브러리를 사용해서 결과를 출력하세요
1. 파일 내용을 읽은 후 상위 5개 데이터 확인
2. 배열 객체의 크기 확인 
3. 중복 지역 존재 여부 확인  
4. 2017년 수원시 인구의 합
5. 2017년 인구가 50만이상이 지역 출력
6. 2017년 경기도 전체 인구의 시별 인구 평균

In [102]:
# 1. 파일 내용을 읽은 후 상위 5개 데이터 확인
import pandas as pd
file_path = "./datas/경기도인구데이터.xlsx"
df = pd.read_excel(file_path, encoding = 'euc-kr')
print(df.head())

       구분    2007    2008    2009    2010    2011    2012    2013    2014  \
0  수원시장안구  287474  285803  290798  293692  290999  291757  300908  301196
1  수원시권선구  310553  308177  304097  306783  321176  332633  331773  339835
2  수원시팔달구  216945  213235  219833  216503  209772  206794  204805  203479
3  수원시영통구  252730  260210  258421  260557  266542  289074  310671  329718
4  성남시수정구  256744  248452  242161  241070  236123  233997  228167  223539

     2015    2016    2017
0  299016  296479  293828
1  351053  358393  365653
2  199180  198515  193311
3  335375  340654  349836
4  219531  232841  236932

In [101]:
# 2. 배열 객체의 크기 확인 
print(df.shape)

(44, 12)

In [100]:
# 3. 중복 지역 존재 여부 확인 
print(True in list(df['구분'].duplicated()))

False

In [ ]:
df.set_index('구분', inplace = True)

In [91]:
# 4. 2017년 수원시 인구의 합
import re
char = r'수원시'
df_sw = df.loc[[x for x in df.index if re.match(char, x) != None]]
sw_sum = df_sw[2017].sum()
print('2017년 수원시 총 인구는 %d명'%sw_sum)

2017년 수원시 총 인구는 1202628명

In [93]:
df_sw

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
구분,,,,,,,,,,,
수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836

In [92]:
# 5. 2017년 인구가 50만이상이 지역 출력
df_overhalfM = df.iloc[:][df[2017]>=500000]
print('2017년 인구 50만 이상인 지역은', [x for x in df_overhalfM.index])

2017년 인구 50만 이상인 지역은 ['성남시분당구', '남양주시', '화성시']

In [94]:
df_overhalfM

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
구분,,,,,,,,,,,
성남시분당구,434115,428858,460688,481027,488328,490735,495018,499087,501889,503830,500212
남양주시,492347,505867,525211,564141,578485,599539,618305,636256,653454,662154,665321
화성시,371972,449354,491528,505838,516765,525490,530251,540862,596525,640890,691086

In [95]:
# 6. 2017년 경기도 전체 인구의 시별 인구 평균  
mean = df[2017].mean()
print('2017년 경기도 시별 평균 인구는 %d명'% mean)

2017년 경기도 시별 평균 인구는 292558명

In [107]:
df.set_index('구분', inplace = True)

In [115]:
for region in df.index:
    match = re.match('수원', region)
    if match != None:
        print(region)

수원시장안구
수원시권선구
수원시팔달구
수원시영통구