# 1. PANDAS & NUMPY

In [1]:
import pandas as pd
import numpy as np

1-1 Numpy

In [24]:
list1 = [1, 2, 3, 4]
a = np.array(list1)

In [25]:
a

array([1, 2, 3, 4])

In [26]:
a.shape

(4,)

In [29]:
b = np.array([[1, 2, 3], [4, 5, 6]])   #array() 안에 하나의 리스트만 들어감!!!!!
b.shape

(2, 3)

In [30]:
def pprint(arr):
    print("type:{}".format(type(arr)))
    print("shape: {}, dimension: {}, dtype:{}".format(arr.shape, arr.ndim, arr.dtype))
    print("Array's Data:\n", arr)

In [ ]:
- np.zeros(shape, dtype = )
- np.ones(shape, dtype = )
- np.full(shape, fill_value, dtype = )
- np.eye(N, M, k, dtype = )
- np.empty()

### 1-1 Series
- pd.Series(list객체 or tuple객체 [, True, index=[리스트])
- pd.Series(딕셔너리)
- Series객체.index
- Series객체.values

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [4]:
type(obj)

pandas.core.series.Series

In [5]:
# 인덱스를 바꿀 수 있다.
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
# python의 dictionary 자료형을 Series data로 만들 수 있다.
# dictionary의 key가 Series의 index가 된다
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
obj3

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64

In [11]:
obj3.name = 'Salary'

In [12]:
obj3.name

'Salary'

In [13]:
# index 변경
obj3.index = ['A', 'B', 'C', 'D']
obj3

A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

### 1-2 DataFrame
- pd.DataFrame(딕셔너리)
- pd.DataFrame(2차원배열, index = 행 인덱스 리스트, columns = 열 이름 리스트)
- df.index = 새로운 행 인덱스 리스트
- df.columns = 새로운 열 이름 리스트

In [14]:
#ndarray를 dataframe으로 생성
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(my_2darray)

   0  1  2
0  1  2  3
1  4  5  6

In [15]:
my_2darray

array([[1, 2, 3],
       [4, 5, 6]])

In [16]:
# dictionary를 DataFrame 으로 생성
my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
pd.DataFrame(my_dict)

   a  b  c
0  1  1  2
1  3  2  4

In [17]:
# 데이터, 인덱스, 컬럼으로 DataFrame 생성
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
pd.DataFrame(my_df)

   A
0  4
1  5
2  6
3  7

In [23]:
# Series를 DataFrame으로 생성
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
pd.DataFrame(my_series, columns = ['Capital'])

                   Capital
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

- df.rename(index = {기존 인덱스: 새 인덱스, ...})
- df.rename(columns = {기존 인덱스: 새 인덱스, ...})

- df.drop(행 인덱스/인덱스 리스트, axis = 0, inplace = True)
- df.drop(열 이름/이름 리스트, axis = 1, inplace = True)

- df.set_index(['열이름'] 또는 '열 이름')
- df.reindex(새로운 인덱스 배열, fill_value = NaN 채울 값)
- df.reset_index()
- df.sort_index()

- df.sort_values(by = '열이름')

# TensorFlow

In [2]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.callbacks import EarlyStopping
import pandas as pd, numpy as np

In [5]:
seed = 0
np.random.seed(seed)