In [6]:
def change(x, y):
    temp = x
    x = y
    y = temp
    print(x)
    print(y)
    
x = 10
y = 100
change(x, y)

100
10

In [7]:
print(x)
print(y)

10
100

In [8]:
def change2(x, y):
    temp = x
    x = y
    y = temp
    print(x)
    print(y)
    
x = [10]
y = [100]
change2(x, y)

[100]
[10]

In [9]:
print(x)
print(y)

[10]
[100]

In [10]:
def change3(x, y):
    temp = x[0]
    x[0] = y[0]
    y[0] = temp
    print(x)
    print(y)
    
x = [10]
y = [100]
change3(x, y)

print(x)
print(y)

[100]
[10]
[100]
[10]

# 자료구조

스택

In [11]:
a = [1, 2, 3, 4, 5]

In [12]:
a.append(20)

In [13]:
a.pop()

20

In [14]:
a

[1, 2, 3, 4, 5]

In [15]:
a.pop(2)

3

In [16]:
a

[1, 2, 4, 5]

In [18]:
word = input('Enter a word: ')
word_list = list(word)
print(word_list)

result = []

for _ in range(len(word_list)):
    result.append(word_list.pop())
    
print(result)
print(word[::-1])

Enter a word: PYTHON
['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']
NOHTYP

큐

셋

In [20]:
s = set([1, 2, 3, 1, 2, 3])
s

{1, 2, 3}

In [22]:
s.add(1)

In [23]:
s

{1, 2, 3}

In [25]:
s.add(4)

In [26]:
s

{1, 2, 3, 4}

컬렉션

deque : stack + queue

In [27]:
from collections import deque

In [28]:
deque_list = deque()

for i in range(5):
    deque_list.append(i)
    
deque_list

deque([0, 1, 2, 3, 4])

In [29]:
deque_list.pop()

4

In [30]:
deque_list

deque([0, 1, 2, 3])

In [31]:
deque_list.appendleft(4)

In [32]:
deque_list

deque([4, 0, 1, 2, 3])

In [33]:
deque_list.rotate(1)

In [35]:
deque_list

deque([3, 4, 0, 1, 2])

In [36]:
deque_list.rotate(2)

In [37]:
deque_list

deque([1, 2, 3, 4, 0])

In [39]:
deque(reversed(deque_list))

deque([0, 4, 3, 2, 1])

ordered dictionary

In [40]:
from collections import OrderedDict

In [41]:
d = OrderedDict()
d['x'] = 200
d['y'] = 100
d['z'] = 300
d['l'] = 800

In [ ]:
d

In [44]:
for k, v in d.items():
    print(k, v)

x 200
y 100
z 300
l 800

default dictionary

In [45]:
from collections import defaultdict

#람다식의 등장이다
d = defaultdict(lambda: 0)

print(d['first'])

0

counter

In [46]:
from collections import Counter

In [47]:
c = Counter(cat = 3, dog = 4)

In [50]:
list(c.elements())

['cat', 'cat', 'cat', 'dog', 'dog', 'dog', 'dog']

In [51]:
c1 = Counter(a = 4, b = 2, c = 0, d = -2)
c2 = Counter(a = 1, b = 2, c = 3, d = 4)

In [53]:
c1.subtract(c2)

In [54]:
c1

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [60]:
c3 = Counter(a = 1, b = 2, c = 2)

In [61]:
c1 + c3

Counter({'a': 4, 'b': 2})

# Python Style Code

In [62]:
#중첩반복문
word1 = 'Hello'
word2 = 'World'

result = [i + j for i in word1 for j in word2]

In [64]:
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [67]:
#이차원 리스트
words = 'The quick brown fox jumps over the lazy dog'.split()

stuff = [[w.upper(), w.lower(), len(w)] for w in words]

In [68]:
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

리스트 컴프리헨션

In [69]:
def sclar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * value)
    return result

In [ ]:
import time
starttime = time.time()

iteration_max = 100000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    sclar_vector_product(scalar,vector)
    
endtime = time.time() - starttime
print(endtime)

In [ ]:
#컴프리헨션
import time
starttime = time.time()

iteration_max = 100000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    [scalar * value for value in range(iteration_max)]
    
endtime = time.time() - starttime
print(endtime)

In [71]:
#enumerate()
colors = ['blue', 'red', 'green']

list(enumerate(colors))

[(0, 'blue'), (1, 'red'), (2, 'green')]

In [74]:
#zip()

names = ['anna', 'elsa', 'sven', 'olaf']
age = [22, 24, 7, 5]

dict(zip(names, age))

{'anna': 22, 'elsa': 24, 'sven': 7, 'olaf': 5}

In [75]:
#lambda
f = lambda x, y: x + y
f(1, 4)

5

맵리듀스

In [76]:
#map()
ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2
print(list(map(f, ex)))

[1, 4, 9, 16, 25]

iterator vs generator

In [77]:
#iterator
def square_numbers(nums):
    result = []
    for i in nums:
        result.append(i*i)
    return result

nums1 = square_numbers([1, 2, 3, 4, 5])
print(nums1)

[1, 4, 9, 16, 25]

In [92]:
#generator
def square_numbers2(nums):
    for i in nums:
        yield i*i

nums2 = square_numbers2([1, 2, 3, 4, 5])
print(nums2)

<generator object square_numbers2 at 0x000001B6BB334348>

In [93]:
print(next(nums2))

1

In [95]:
#reduce

from functools import reduce

print(reduce(lambda x,y: x+y, [1, 2, 3, 4, 5]))

15

In [97]:
reduce(lambda x,y: x+y, [1, 2, 3, 4, 5])

15

In [96]:
#혹은 이렇게
total = 0
for x in [1, 2, 3, 4, 5]:
    total += x

print(total)

15